PORT=3000
REACT_APP_API_BASE_URL=https://api.innosynch.com
REACT_APP_BACKEND_URL=https://api.innosynch.com
REACT_APP_SOCKET_URL=https://api.innosynch.com
REACT_APP_WEB_BASE_URL=https://dpp.innosynch.com
REACT_APP_SECURITY_BASE_URL=https://dpp.innosynch.com
